# Crash log files
crash.log
crash.*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
.ipynb_checkpoints
profile_default/
ipython_config.py

# Ignore IDE and editor files
.idea
*.vscode

# Mage files 
.ssh_tunnel
**/target/
target/
profiles.yml
package-lock.yml
.profiles_interpolated_temp_*
__init__.py
.gcp/
/mage_data*
*.json
**/__pycache__/
**/dbt_packages/**
dbt_packages/
dbt_packages/codegen
dbt_packages/dbt_utils
.DS_Store
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.variables/
__pycache__/
docker-compose.override.yml
logs/
mage-ai.db
mage_data/
secrets/
.bash_history
.jupyter/
.local/
.npm/
.python_history
mage_ai/frontend/package-lock.json
.idea
**google_credentials.json
.env
.history
.user.yml
**/dbt_utils/*


# data files
mage_ai/server/data/files/**
default_repo
instance_metadata.json
~/.mage_data

# Terraform files
**/.terraform*
*.zip
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
*.plan
*.lock.hcl
*.tfvars
terraform.tfvars
*.tfvars.json

# Environments
.env
.venv
dev.env
.DS_Store
env/
venv/
ENV/
env.bak/
venv.bak/

# Other 
TODO.md
scratchpad.txt
